<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-item>
    
      <ion-input ion-text [(ngModel)]="user"></ion-input>

      </ion-item>     
    
    </ion-col>
    <ion-col col-3>
        <button ion-item color="primary" (click)="userListAll()" >Join</button>
    </ion-col>
  </ion-row>
<ion-row>     
      <ion-col width-30 *ngIf="userList.length>1" >
        <ion-list *ngFor="let user of userList"  >
           <button ion-button (click)="selectUser(user)">         
              <b> {{user.userName}}</b>
              <p>{{user.id}}</p>
           </button> 
        </ion-list>     
        </ion-col>


  <ion-col width-50>

      <ion-item>
          <ion-input [(ngModel)]="message"></ion-input>
        </ion-item>
          <button ion-item full block color="primary" (click)="sendMessage()">Send Message</button>
      
  </ion-col>
</ion-row>


  

</ion-content>
